.mainBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.titleBox {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  color: #3464e0;
  font-size: 18px;
}

.titleBox::before {
  content: '';
  position: absolute;
  height: 5px;
  width: 100px;
  left: 0;
  background-color: #78dffc;
  z-index: 99;
  bottom: -1px;
}

.contentBox {
  flex: 1;
}
